apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-producer
spec:
  template:
    spec:
      containers:
        - name: producer
          image: kafka-producer:latest
      restartPolicy: Never

